@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Hero Section*/
.hero-image{
  background: url('Public/hero/Hero.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Navbar*/
.navbar {
    background:#5c2758;
    position: sticky;
}
.navbar-brand img{
    width: 120px;
    height: 50px;
    cursor: pointer;
}