@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Hero Section*/
.hero-image{
  background: url('Public/hero/Hero.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Navbar*/
.navbar {
    background:black;
    position:sticky;
}
.navbar-brand img{
    cursor: pointer;
}
.nav-link {
    margin-right: 1em;
    cursor: pointer;
    font-weight: bold;
}
.nav-link:hover {
    transform: scale(1.2);
    text-shadow: none;  
}
.navbar-collapse {
    justify-content: flex-end;
    text-decoration: none;
}

/* About Section*/
.comment {
    margin-top: 50px;
}